<div class="panel panel-default">
        <div class="panel-heading">
          <h3>Stats (Required)</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Images:</td>
                <td>{{ sidebar.stats.images }}</td>
              </tr>
              <tr>
                <td>Comments:</td>
                <td>{{ sidebar.stats.comments }}</td>
              </tr>
              <tr>
                <td>Views:</td>
                <td>{{ sidebar.stats.views }}</td>
              </tr>
              <tr>
                <td>Likes:</td>
                <td>{{ sidebar.stats.likes }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>